@import url('https://fonts.googleapis.com/css?family=Montserrat|Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,500');

$font-shrikhand: 'Shrikhand', cursive;
$font-menu: 'Montserrat', sans-serif;
$font-main: 'Oswald', sans-serif;
$main-color: #292929;
$second-color: #bbc0e1;
